html {
    scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt mà */
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-image: url('./image/bg_1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* #0882B4 */
/* NAVIGATION BAR */
.navbar {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    margin-bottom: 50px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 220px;
    height: 40px;
    background-image: url("./image/logo.png");
    background-size: cover;
    /* margin-right: 10px; */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #5a3921;
    font-size: 16px;
    padding: 3px 5px;
}

.nav-links a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #0882B4;
    transition: 0.3s;
}

.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* HERO SECTION */
.hero-section {
    height: 700px;
    width: 100%;
    display: flex;
    margin-top: 100px; 
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    flex-direction: column; /* Stack hero elements vertically */
}

.hero-box {
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 15px 100px;
    border-radius: 5px;
    margin-top: -400px; 
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    color: #146C94;
}

.hero-text {
    position: relative;
    text-align: center;
    color: #146C94;
}

.hero-text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
    margin: 0;
    color: #097ed1;
    text-align: center;
}
/* ABOUT SECTION */
.about-section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    margin-top: 100px;
}

.about-image {
    flex: 1.5;
    /* margin-right: 30px; */
    /* justify-items: left; */
}

.about-image img {
    width: 45vw;
    height: 80vh;
    margin-top: 4px;
    margin-left: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
    margin-left: 50px;
}

.about-text h2 {
    font-size: 36px;
    color: #1E3E62;
    margin-bottom: 10px;
    border-bottom: 4px solid#097ed1;
    display: inline-block;
}

.about-text p {
    font-size: 18px;
    color: #1E3E62;
    line-height: 1.6;
}
/* services */
.services-section {
    min-height: 90vh ;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(251, 251, 251, 0.9);
    margin-top: 100px;
    width: 100%;
}  
.services-section h2{
    font-size: 36px;
    color: #1E3E62;
    margin-bottom: 10px;
    border-bottom: 4px solid #097ed1;
    display: inline-block;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.service-item {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05);
     /* Tạo hiệu ứng khi hover */
}

.service-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #003874; /* Viền 5px xung quanh icon */
    border-radius: 50%; /* Tạo vòng tròn */
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item:hover .service-icon {
    border-color: #5cd1ec; /* Thay đổi màu viền thành màu khác, ví dụ #8e44ad (màu tím) */
}

.service-icon img {
    width: 100px; /* Kích thước icon */
    height: auto;
}

h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #044a79; /* Viền màu xanh dưới tiêu đề */
}

p {
    font-size: 14px;
    color: #666;
    text-align: justify;
}

.services-section h2 {
    font-size: 36px;
    color: #1E3E62;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    justify-items: center;
    margin-bottom: 30px;
}


/* TESTIMONIALS SECTION */
.testimonials-section {
    background-color: #d6875c;
    padding: 50px 0;
    text-align: center;
    width: 100%s;
}

.testimonials-section h2 {
    font-size: 36px;
    color: #f8e363;
    margin-bottom: 10px;
    text-align: center;
}
.testimonials-section p{
    font-size: 14px;
    color: #f8e363;
    margin-bottom: 10px;
    text-align: center;
}
.testimonials-section .thank-you-message {
    font-size: 16px;
    color: #f8e363;
    margin-bottom: 40px;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonial-item {
    background-color: #24404e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.testimonial-item p{
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: justify;
}

/* .testimonial-item:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
} */

.testimonial-text {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quote-icon {
    font-size: 50px;
    color: #ff7b47;
    line-height: 1;
    margin-left: 210px;
}

.testimonial-author {
    font-size: 16px;
    color: #f8e363;
}


/* CONTACT SECTION */
/* Footer */

.footer {
    background-color: #212121;
    color: #ccc;
    padding: 20px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.footer-social {
    grid-column: span 3;
    margin-top: 20px;
    text-align: center;
}

.footer-item i,
.footer-social i {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-item i {
    color: #f44336;
}

.footer-social i {
    color: #ccc;
    font-size: 20px;
    margin: 0 5px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 8px;
    text-align: center;
}

.footer a:hover {
    color: #fff;
}
.footer p{
    color: #a3a2a2;
    text-align: center;
}

/* Thêm Media Query cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {

    /* Điều chỉnh phần navbar */
    .navbar {
        padding: 5px 0;
    }

    /* Ẩn logo hoặc thu nhỏ */
    .logo-image {
        width: 150px;
        height: 30px;
    }

    /* Điều chỉnh phần hero box để vừa với màn hình */
    .hero-box {
        padding: 10px 30px;
        margin-top: -300px;
        font-size: 14px;
    }

    /* Chỉnh font cho hero text */
    .hero-text h1 {
        font-size: 32px;
    }
    .hero-text p {
        font-size: 16px;
    }

    /* Điều chỉnh section "about" */
    .about-image img {
        width: 90vw;
        height: auto;
    }

    .about-text {
        margin-left: 0;
        text-align: center;
        padding: 20px;
    }

    /* Giảm kích thước chữ và viền */
    .about-text h2 {
        font-size: 24px;
        border-bottom: 2px solid #097ed1;
    }

    /* Giảm số cột trong phần dịch vụ */
    .services-container {
        grid-template-columns: 1fr; /* Từ 4 cột thành 1 cột */
        padding: 20px;
    }

    .service-item {
        padding: 15px;
        margin-bottom: 15px;
    }

    /* Giảm kích thước icon và viền quanh nó */
    .service-icon {
        width: 60px;
        height: 60px;
    }

    /* Testimonials chỉnh lại grid */
    .testimonials-container {
        grid-template-columns: 1fr;
    }

    /* Chỉnh lại Footer */
    .footer {
        display: block;
        text-align: center;
        grid-template-columns: none; /* Xóa lưới */
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .footer-social {
        margin-top: 15px;
    }
}


/* Đổi Background */
/* .background-slider {
    position: relative;
    width: 100%;
    height: 100%;
    animation: backgroundChange 30s infinite;
    background-size: cover; 
    background-position: center;
    transition: background-image 30s ease-in-out;
}


@keyframes backgroundChange {
    0% {
        background-image: url('./image/bg_1.jpg');
    }
    33% {
        background-image: url('./image/bg_2.jpg');
    }
    66% {
        background-image: url('./image/bg_3.jpg');
    }
    100% {
        background-image: url('./image/bg_1.jpg');
    }
} */
